In [22]:
# Import Libraries and Dependencies
import pandas as pd
from datetime import datetime, date, time, timezone

### 1. Combine and Clean the Data
#### Import CSVs

In [2]:
# Read the CSV files into DataFrames.
athletic_sales_2020_df = pd.read_csv("Resources/athletic_sales_2020.csv")

athletic_sales_2021_df = pd.read_csv("Resources/athletic_sales_2021.csv")

In [3]:
# Display the 2020 sales DataFrame
athletic_sales_2020_df

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
1292,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,72,203,14616,3946.32,Online
1293,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,80,700,560000,84000.00,Outlet
1294,Kohl's,1189833,12/30/20,Midwest,Minnesota,Minneapolis,Women's Street Footwear,41,119,4879,2878.61,Online
1295,Kohl's,1189833,12/30/20,Midwest,Minnesota,Minneapolis,Women's Street Footwear,45,475,213750,96187.50,Outlet
1296,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,62,245,15190,2886.10,Outlet

In [4]:
# Display the 2021 sales DataFrame
athletic_sales_2021_df

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online
...,...,...,...,...,...,...,...,...,...,...,...,...
8341,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online
8342,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet
8343,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online
8344,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet
8345,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet

#### Check the data types of each DataFrame

In [5]:
# Check the 2020 sales data types.
athletic_sales_2020_df.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [6]:
# Check the 2021 sales data types.
athletic_sales_2021_df.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [14]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
athletic_sales_2020__2021_df = athletic_sales_2020_df.join(athletic_sales_2021_df, how='inner', lsuffix='_2020', rsuffix='_2021')
athletic_sales_2020__2021_df.reset_index(inplace=True)

In [16]:
athletic_sales_2020__2021_df.head(10)

,index,retailer_2020,retailer_id_2020,invoice_date_2020,region_2020,state_2020,city_2020,product_2020,price_per_unit_2020,units_sold_2020,...,invoice_date_2021,region_2021,state_2021,city_2021,product_2021,price_per_unit_2021,units_sold_2021,total_sales_2021,operating_profit_2021,sales_method_2021
0,0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,...,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,...,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,...,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,...,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,...,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online
5,5,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,47,336,...,1/2/21,Midwest,Montana,Billings,Women's Apparel,45,475,213750,53437.50,Outlet
6,6,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,35,450,...,1/2/21,West,California,San Francisco,Women's Street Footwear,60,218,13080,6670.80,Online
7,7,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,27,158,...,1/2/21,West,California,San Francisco,Women's Street Footwear,46,225,10350,4554.00,Outlet
8,8,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,47,260,...,1/2/21,West,California,San Francisco,Women's Street Footwear,65,750,487500,195000.00,Outlet
9,9,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,32,122,...,1/2/21,Midwest,Montana,Billings,Women's Apparel,43,138,5934,2314.26,Online

In [25]:
# Check if any values are null.
athletic_sales_2020__2021_df.dropna(how="any")

,index,retailer_2020,retailer_id_2020,invoice_date_2020,region_2020,state_2020,city_2020,product_2020,price_per_unit_2020,units_sold_2020,...,invoice_date_2021,region_2021,state_2021,city_2021,product_2021,price_per_unit_2021,units_sold_2021,total_sales_2021,operating_profit_2021,sales_method_2021
0,0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,...,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,...,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,...,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,...,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,...,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,1292,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,72,203,...,2/23/21,West,Idaho,Boise,Men's Street Footwear,21,162,3402,1258.74,Outlet
1293,1293,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,80,700,...,2/23/21,West,Idaho,Boise,Men's Athletic Footwear,28,128,3584,1541.12,Outlet
1294,1294,Kohl's,1189833,12/30/20,Midwest,Minnesota,Minneapolis,Women's Street Footwear,41,119,...,2/23/21,West,Idaho,Boise,Women's Street Footwear,28,124,3472,1458.24,Outlet
1295,1295,Kohl's,1189833,12/30/20,Midwest,Minnesota,Minneapolis,Women's Street Footwear,45,475,...,2/23/21,West,Arizona,Phoenix,Women's Athletic Footwear,26,68,1768,742.56,Outlet
1296,1296,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,62,245,...,2/23/21,West,Arizona,Phoenix,Men's Apparel,36,51,1836,679.32,Outlet

In [20]:
# Check the data type of each column
athletic_sales_2020__2021_df.dtypes

index                      int64
retailer_2020             object
retailer_id_2020           int64
invoice_date_2020         object
region_2020               object
state_2020                object
city_2020                 object
product_2020              object
price_per_unit_2020        int64
units_sold_2020            int64
total_sales_2020           int64
operating_profit_2020    float64
sales_method_2020         object
retailer_2021             object
retailer_id_2021           int64
invoice_date_2021         object
region_2021               object
state_2021                object
city_2021                 object
product_2021              object
price_per_unit_2021        int64
units_sold_2021            int64
total_sales_2021           int64
operating_profit_2021    float64
sales_method_2021         object
dtype: object

In [28]:
# Convert the "invoice_date" to a datetime datatype
athletic_sales_2020__2021_df['invoice_date_2020'] = pd.to_datetime(athletic_sales_2020__2021_df['invoice_date_2020'], format="%d/%m/%Y")
athletic_sales_2020__2021_df['invoice_date_2021'] = pd.to_datetime(athletic_sales_2020__2021_df['invoice_date_2021'], format="%d/%m/%Y")

In [31]:
# Confirm that the "invoice_date" data type has been changed.
athletic_sales_2020__2021_df['invoice_date_2020'].head()

0   2020-01-01
1   2020-01-01
2   2020-01-01
3   2020-01-01
4   2020-01-01
Name: invoice_date_2020, dtype: datetime64[ns]

In [32]:
athletic_sales_2020__2021_df['invoice_date_2021'].head()

0   2021-01-01
1   2021-01-01
2   2021-01-01
3   2021-01-01
4   2021-01-01
Name: invoice_date_2021, dtype: datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [12]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".




# Show the top 5 results.

#### Using `pivot_table`

In [13]:
# Show the number products sold for region, state, and city.


# Rename the "units_sold" column to "Total_Products_Sold"


# Show the top 5 results.

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [14]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

#### Using `pivot_table`

In [15]:
# Show the total sales for the products sold for each region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [16]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"

# Show the top 5 results.

#### Using `pivot_table`

In [17]:
# Show the total sales for the products sold for each retailer, region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [18]:
# Filter the sales data to get the women's athletic footwear sales data.

#### Using `groupby`

In [19]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

#### Using `pivot_table`

In [20]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [21]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.

In [22]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in ascending order on "Total Sales".

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [23]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in ascending order on "Total Sales".